/* =========== UNIVERSAL SELECTOR =========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* =========== SHADOW TEXT ================= */
.shadow {
    text-shadow: 1px 1px 15px maroon;
    font-variant: small-caps;
    font-weight: bolder;
}

/*=======================================================

                   ROOT ELEMENTS

=======================================================*/
html {
    background-color: lightsteelblue;
    background-image: url(../images/bgtile.jpg);
    background-attachment: fixed;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    max-width: 1200px;
    width: 100%;
    border: 3px solid steelblue;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px black;
}

/*=======================================================

                      HEADER

=======================================================*/
header {
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
    border-radius: 10px 10px 0 0;
}

header h2 {
    font-size: 250%;
    font-style: italic;
    color: steelblue;
    text-shadow: 3px 3px 12px steelblue;
    
}

header img {
    max-width: 140px;
    min-width: 70px;
    width: 100%;
}

/*=======================================================

             NAVIGATION MENU - #nav_menu

=======================================================*/
#nav_menu {
    border-bottom: 3px solid steelblue;
    background-color: steelblue;
    
}
#nav_menu ul {
    list-style-type: none;
    position: relative;
}
#nav_menu ul li {
    width: 20%;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: steelblue;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}
#nav_menu ul ul li a {
    text-align: left;
    padding-left: 12px;
}
#nav_menu ul li:hover > ul {
    display: block;
}
/* #nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
} */
#nav_menu a:hover {
    color: black;
    background-color: lightsteelblue;
}

/* ==================================================

       LEFT ASIDE NAVIGATION LIST - #nav_list

===================================================*/             
#nav_list ul {
    list-style-type: none;
}
#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 5px;
}
#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em;
    color: black;
}
#nav_list a:hover {
    background-color: steelblue;
    color: white;
}

/*===============================================

                MAIN ELEMENTS

===============================================*/
a {
    text-decoration: none;
}
a:link, a:visited {
    color: steelblue;
}
a:hover, a:focus {
    color: maroon;
    text-decoration: underline;
}

section {
    /* width: 50%; */
}
section h1 {
    margin: 0;
}
aside {
    /* width: 25%; */
}
#rightcol {

}
aside h3 {
    color: maroon;
    font-size: 110%;
}

blockquote {
    width: 80%;
    padding: 10px;
    border-left: 25px solid steelblue;
    border-top: 3px solid steelblue;
    border-bottom: 3px solid steelblue;
    border-right: 3px solid steelblue   ;
    background-color: lightsteelblue;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    font-style: italic;
}
blockquote:hover {
    background-color: steelblue;
    color: white;
}

/*==================================================

                       FOOTER

==================================================*/                       
footer {
    /* clear: both; */
    background-color: steelblue;
    padding: 15px 0;
    border-radius: 0 0 7px 7px;
}
footer p {
    font-size: 75%;
    text-align: center;
    font-variant: small-caps;
    color: white;
}

#mobilemenu {
    display: none;
}

/*=============================================================

                  MEDIA QUERIES

=============================================================*/
@media only screen and (max-width: 900px) {
    html {
        background-image: none;
    }
    body {
         box-shadow: none;
         border: none;
         font-size: 90%;
         border-radius: 0;
    }
    #leftcol {
        /* display: none; */
    }
    section {
        /* width: 70%; */
    }
    #rightcol {
        /* width: 30%; */
    }
    header, footer {
        border-radius: 0;
    }

}

@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue;
    }
    #rightcol {
        border-left: none;
    }
    section, aside, #rightcol {
        /* float: none; */
        /* width: 95%; */
    }
}

@media only screen and (max-width: 479px) {
    
}

